@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color;
  font-family: $main-font;
}

.container {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.common-section-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
  font-family: $secondary-font;
}

header {
  background-color: white;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
  }

  nav {
    display: flex;
    gap: 50px;

    @media (min-width: 901px) and (max-width: 1440px) {
      gap: 40px;
    }
  }

  .nav-link {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $text-color;
    text-decoration: none;
  }
}

@media (min-width: 901px) {
  .mobile-only {
    display: none !important;
  }
}

@media (min-width: 1441px) and (max-width: 1650px) {
  .container {
    max-width: 1370px;
  }
}

@media (min-width: 901px) and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 900px) {
  header img {
    width: 80px;
  }

  header .container {
    height: 80px;
  }

  header nav {
    position: absolute;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    right: 0;
    top: 80px;
    z-index: 5;
    gap: 20px;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    
    &.visible {
      transform: translateX(0);
    }
  }
}